/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

/* Estilos para el formulario */
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el encabezado del formulario */
h2 {
    color: #007BFF;
}

/* Estilos para las etiquetas del formulario */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Estilos para los campos de entrada de texto */
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para el botón de envío */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el enlace de la tabla */
a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    color: #0056b3;
}
